@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-size: 16px;
  color: #212121;
  min-width: 100vw;
  min-height: 100vh;
}

body {
  min-width: 100%;
  min-height: 100vh;
}

@layer components {
  .job-form-label {
    @apply text-sm font-medium mb-1;
  }

  .required {
    @apply text-error;
  }

  .input {
    @apply w-full py-2 px-3 border-1 rounded-[5px] border-border-gray text-sm;
  }

  .input::-webkit-outer-spin-button,
  .input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  .input[type=number] {
    -moz-appearance: textfield;
  }

  .inputError {
    @apply border-error;
  }

  .inputErrorMsg {
    @apply text-error text-sm;
  }
}
